.p-documents {
  margin: 10px 10px 30px;
}

.p-documents,
.p-documents ul {
  list-style-type: none;
}

.p-documents > li .p-documents__title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid var(--pink);
  font-size: 1.4rem;
  line-height: 1.2;
}

.p-documents > li + li {
  margin-top: 25px;
}

.p-documents > li ul {
  margin: 15px;
}

.p-documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url('images/arrow.gif') no-repeat left center;
}

.p-documents a:hover {
  text-decoration: underline;
}