/* Settings */
:root {
  --pink: #d03c56;
  --black: #000;
  --whiteShadow: #e3e3e3;
  --blackShadow: rgba(0, 0, 0, 0.15);
  --linkGray: #333;
  --white: #fff;
  --coverBlack: #2d3d54;
  --whiteGray: #ddc;
  --gray555: #555;
  --graybbb: #bbb;
  --grayddd: #ddd;
  --gray777: #777;
  --grayccc: #ccc;
  --grayaaa: #aaa;
  --lightGreen: #b5d264;
  --hoverWhite: #fafaf8;
  --newsGray: #2c3c53;
  --gold: #dab413;
  --silver: #6e7b84;
  --bronz: #a0541a;
}
/* Foundations */
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragano Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  color: var(--pink);
  text-decoration: none;
}
/* Layouts */
.l-footer {
  width: 100%;
  padding: 20px 0 30px;
  background: #2d3d54 url('images/bg-footer.gif');
  background: var(--coverBlack) url('images/bg-footer.gif');
  color: #fff;
  color: var(--white);
}
.l-header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
  box-shadow: 0 0 10px 1px var(--whiteShadow);
}
.l-main {
  display: block;
  float: left;
  width: 660px;
}
.l-sidemenu {
  float: right;
  width: 275px;
}
.l-wrapper {
  width: 970px;
  margin: 30px auto 40px;
}
/* Components */
.c-logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('images/logo.png') no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.c-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.c-heading {
  padding: 10px 12px;
  background: url('images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.c-copyright {
  margin-top: 30px;
  letter-spacing: 1px;
}
.c-copyright.is-center {
  text-align: center;
}
.c-date {
  width: 160px;
  padding: 4px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}
.c-button {
  width: 40px;
  height: 26px;
  border: none;
  cursor: pointer;
}
.c-button.is-pink {
  background-color: #d03c56;
  background-color: var(--pink);
  color: #fff;
  color: var(--white);
}
/* Projects */
.p-global-nav {
  margin-top: 15px;
  text-align: center;
}
.p-global-nav__item {
  display: inline-block;
  margin: 0 10px;
}
.p-global-nav__item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  color: #333;
  color: var(--linkGray);
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
}
.p-global-nav__item.is-active a,
.p-global-nav__item a:hover {
  background-color: #d03c56;
  background-color: var(--pink);
  color: #fff;
  color: var(--white);
}
.p-hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
}
.p-hot-topic:hover {
  opacity: 0.85;
}
.p-hot-topic__image {
  float: left;
  width: 50%;
  height: 100%;
}
.p-hot-topic__content {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 105px 25px 0;
  background-color: #2d3d54;
  background-color: var(--coverBlack);
  line-height: 1.6;
}
.p-hot-topic__content__title {
  margin-bottom: 15px;
  color: #fff;
  color: var(--white);
  font-weight: normal;
  font-size: 2.0rem;
}
.p-hot-topic__content__desc {
  color: #ddc;
  color: var(--whiteGray);
}
.p-hot-topic__content__date.c-date {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  background-color: var(--white);
  color: #2d3d54;
  color: var(--coverBlack);
  line-height: 1;
}
.p-scroll-list {
  max-height: 220px;
  overflow-y: auto;
  margin-bottom: 30px;
  list-style-type: none;
}
.p-scroll-list__item a {
  display: block;
  padding: 10px 15px;
  color: #333;
  color: var(--linkGray);
  font-size: 0;
  transition: background-color 0.1s;
}
.p-scroll-list__item:nth-of-type(even) a {
  background: url('images/bg-slash.gif');
}
.p-scroll-list__item a:hover {
  background-color: #fafaf8;
  background-color: var(--hoverWhite);
}
.p-scroll_list__item__date {
  display: inline-block;
  width: 19%;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.0rem;
}
.p-scroll_list__item__category {
  display: inline-block;
  width: 8%;
  border-radius: 5px;
  background-color: #d03c56;
  background-color: var(--pink);
  color: #fff;
  color: var(--white);
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.0rem;
  line-height: 16px;
}
.p-scroll_list__item__category.is-news {
  background-color: #2c3c53;
  background-color: var(--newsGray);
}
.p-scroll_list__item__title {
  display: inline-block;
  width: 73%;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}
.p-article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 6px 8px -4px var(--blackShadow);
  transition: opacity 0.15s;
}
.p-article-box:nth-of-type(odd) {
  float: left;
}
.p-article-box:nth-of-type(even) {
  float: right;
}
.p-article-box:hover {
  opacity: 0.8;
}
.p-article-box__title {
  margin-top: 30px;
  color: #555;
  color: var(--gray555);
  font-size: 1.4rem;
  line-height: 1.6;
}
.p-article-box__desc {
  margin-top: 5px;
  color: #333;
  color: var(--linkGray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-article-box__date.c-date {
  position: absolute;
  right: 0;
  bottom: 15px;
  display: block;
  background-color: #b5d264;
  background-color: var(--lightGreen);
  color: #d03c56;
  color: var(--pink);
}
.p-article-box__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.p-ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
}
.p-raking__item {
  margin-top: 15px;
}
.p-ranking__item a {
  display: block;
  font-size: 0;
  transition: opacity 0.15s;
}
.p-ranking__item a:hover {
  opacity: 0.8;
}
.p-ranking__item__image {
  width: 55px;
  height: 55px;
}
.p-ranking__item__text {
  display: inline-block;
  width: 182px;
  color: #000;
  color: var(--black);
  vertical-align: top;
  font-size: 1.2rem;
  line-height: 1.5;
}
.p-ranking__item__order {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border: 1px solid var(--grayccc);
  color: #aaa;
  color: var(--grayaaa);
  vertical-align: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.p-ranking__item:nth-of-type(1) .p-ranking__item__order,
.p-ranking__item:nth-of-type(2) .p-ranking__item__order,
.p-ranking__item:nth-of-type(3) .p-ranking__item__order {
  border: none;
  color: #fff;
  color: var(--white);
  font-weight: normal;
  line-height: 18px;
}
.p-ranking__item:nth-of-type(1) .p-ranking__item__order {
  background-color: #dab413;
  background-color: var(--gold);
}
.p-ranking__item:nth-of-type(2) .p-ranking__item__order {
  background-color: #6e7b84;
  background-color: var(--silver);
}
.p-ranking__item:nth-of-type(3) .p-ranking__item__order {
  background-color: #a0541a;
  background-color: var(--bronz);
}
.p-ranking__item__order::before {
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.0rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.p-documents {
  margin: 10px 10px 30px;
}
.p-documents,
.p-documents ul {
  list-style-type: none;
}
.p-documents > li .p-documents__title {
  margin: 15px 0;
  padding-left: 8px;
  border-left: 5px solid #d03c56;
  border-left: 5px solid var(--pink);
  font-size: 1.4rem;
  line-height: 1.2;
}
.p-documents > li + li {
  margin-top: 25px;
}
.p-documents > li ul {
  margin: 15px;
}
.p-documents > li ul > li {
  margin-bottom: 15px;
  padding-left: 10px;
  background: url('images/arrow.gif') no-repeat left center;
}
.p-documents a:hover {
  text-decoration: underline;
}
.p-search-box {
  padding: 15px;
  background-color: #ccc;
  background-color: var(--grayccc);
  font-size: 0;
}
.p-search-box > * {
  font-size: 1.2rem;
}
.p-search-box__input {
  width: 205px;
  height: 26px;
  padding: 0 10px;
  border: none;
}
.p-search-box__button.c-button {
  width: 40px;
  height: 26px;
}
.p-search-box__text {
  margin-top: 12px;
}
.p-horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
}
.p-horizontal-list__item {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.p-horizontal-list .p-horizontal-list__item + .p-horizontal-list__item {
  border-left: 1px solid #bbb;
  border-left: 1px solid var(--graybbb);
}
.p-horizontal-list__item a {
  border-bottom: 1px dashed #777;
  border-bottom: 1px dashed var(--gray777);
  color: #bbb;
  color: var(--graybbb);
  font-size: 1.1rem;
  transition: color 0.15s;
}
.p-horizontal-list__item a:hover {
  color: #ddd;
  color: var(--grayddd);
}
/* Utilities */
.u-hidden {
  display: none;
}
.u-clearfix::after {
  content: '';
  display: block;
  clear: both;
}